header{
background-image: url("./images/cold.jpg");
background-size: cover;
background-position: 50% 50%;
}

.wrapper{
    padding: 20% 0 15% 0;
}
.boat{
    margin-right: -30px;
}
.button{
    border-radius: 8px;
    border: none;
}
.navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7em;
    font-weight: 600px;
}
.navbar-nav{
    text-align: right;
}
.social{
    margin-right;
}